.characters {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  header {
    padding-top: 20px;

    h2 {
      margin-bottom: 25px;
      text-align: center;
      font: normal 26px "Open Sans", Arial;
    }
  }
}

.characters__btn-random {
  padding: 7px;
  margin-bottom: 25px;
  color: #fff;
  font: normal 18px Arial;
  background: linear-gradient(to bottom, #e73a3a 0%, #720000 100%);
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &:hover {
    background: linear-gradient(to bottom, #720000 0%, #f50000 100%);
  }
}

.characters__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
